<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/header :: header('Create a new post')"></head>

<body>

<div th:replace="fragments/navbar :: navbar"></div>


<form th:action="@{/posts/create}" th:method="post">

    <label for="title">Title: </label>

    <input name="title" id="title" placeholder="Put the blog post title here"  />

    <label for="body">Body: </label>

    <textarea name="body" id="body" cols="30" rows="10"></textarea>

    <button type="submit">Save Post</button>
</form>


</body>
</html>