<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/header :: header('Edit This Post')"></head>

<body>

<div th:replace="fragments/navbar :: navbar"></div>

<h1 style="text-align:center;margin-left:-20%">Edit This Post!</h1>
<form th:action="@{/posts/{id}/edit(id=${post.id})}" th:method="post">

    <label for="title">Title: </label><br/>

    <input th:value="${post.title}" name="title" id="title" placeholder="Put the blog post title here" /><br/><br/>

    <label for="body">Body: </label><br/>

    <textarea th:text="${post.body}" name="body" id="body" cols="30" rows="10"></textarea><br/>

    <button type="submit">Save Post</button>
</form>

</body>
</html>